@charset "UTF-8";

/*───────────────────────────────────────────────────*/
/* ◆デフォルトタグ                                   */
/*───────────────────────────────────────────────────*/
html{
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 400px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, #ffe32c 0%, #53ACFE 50%, #0066c4 100%);
}

/*───────────────────────────────────────────────────*/
/* ◆共通箇所                                         */
/*───────────────────────────────────────────────────*/
/* 縦の配置 */
.body_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}

/* ヘッダー箇所 */
header {
    text-align: center;
}

/* ヘッダーロゴを包括する要素 */
header h1 {
    height: 50px;
    margin: 0;
}

/* ヘッダーロゴ */
header h1 img {
    height: 100%;
}

/* ヘッダーロゴ下のテキスト */
header p {
    color: white;
    font-size: 34px;
    line-height: 34px;
}

/*───────────────────────────────────────────────────*/
/* ◆ログイン画面                                     */
/*───────────────────────────────────────────────────*/
/* フォームの背景 */
.form_content {
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 0.27);
    border-radius: 10px;
    width: 305px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 27px;
    margin: 0 auto;
    color: white;
}

/* サブタイトル(ログイン/added画面) */
p.subtitle {
    align-self: center;
    font-size: 20px;
    margin-top: 27px;
    margin-bottom: 25px;
}

/* h2テキスト(REGISTER画面) */
h2.subtitle {
    align-self: center;
    font-size: 20px;
    margin-bottom: 25px;
}

/* ラベルテキスト */
.label_text {
    margin: 0;
}

/* 入力ボックス */
.input_box {
    margin-bottom: 21px;
    height: 38px;
    border: 1px solid #9b9b9b;
    border-radius: 7px;
    color: black;
    padding: 0 10px;
}

/* ボタン */
.login_register_button {
    background-color: #ed3a50;
    color: white;
    font-size: 20px;
    width: 129px;
    padding: 2px 0;
}

/* submit用ボタン配置 */
.submit_button {
    margin-left: auto;
    margin-bottom: 40px;
}

/* フッターテキストを内包する要素 */
.footer_text {
    margin: 0 auto;
}

/* テキストの大きさ指定(footer-textと併用) */
.text_small {
    font-size: 15px;
}

/* テキストの大きさ指定(footer-textと併用) */
.text_medium {
    font-size: 20px;
}

/* フッターテキスト */
.footer_text a {
    color: white;
}

/*───────────────────────────────────────────────────*/
/* ◆added画面                                       */
/*───────────────────────────────────────────────────*/
/* 上部のテキスト */
.texts_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 27px;
}

/* added画面共有pタグ設定 */
.texts_box p {
    margin: 0;
}

/* 上部のテキストを指定した設定 */
.text_first p {
    font-size: 18px;
}

/* 上部のテキストを指定した設定 */
.text_second p {
    font-size: 17px;
}

/* ログイン画面へと遷移するボタン */
.to_login_button {
    margin: 0 auto;
    margin-top: 30px;
}

/* ログイン画面へと遷移するテキスト */
.to_login_button a {
    color: white;
    font-size: 16px;
}
