@charset "utf-8";

/*───────────────────────────────────────────────────*/
/* ◆デフォルトタグ                                   */
/*───────────────────────────────────────────────────*/
html{
    font-size: 10px;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    background:#186AC9;
}

/*───────────────────────────────────────────────────*/
/* ◆メインコンテンツ(ヘッダー以外)                     */
/*───────────────────────────────────────────────────*/
#row{
    display: flex;
    flex-flow: row wrap; /* 子要素を左から右へ並べる/かつwrap*/
}

#container{
    flex: 0 0 79%;
    height: 100vh;
}

#side-bar{
    flex: 0 0 21%;
    border-left: 1px solid #727272;
    height: 100vh;
}

/*───────────────────────────────────────────────────*/
/* ◆全共通                                          */
/*───────────────────────────────────────────────────*/
/* アイコンの円の大きさ */
.rounded-circle {
    width: 47px;
    height: 47px;
}

/* テキストエリアのplaceholder */
textarea::placeholder {
    color: #d6d6d6;
}

/*───────────────────────────────────────────────────*/
/* ◆ヘッダー                                         */
/*───────────────────────────────────────────────────*/
.header-flex {
    display: flex;
    justify-content: space-between;
    height: 85px;
    z-index: 100;
}

/* ヘッダーのテキスト設定 */
.header-flex p {
    color: white;
    font-size: 19px;
    margin: 0;
}

/* メインロゴの大きさ */
.header-flex h1 img {
    display: block;
    height: 36px;
}

/*───────────────────────────────────────────────────*/
/* ◆ヘッダーとアコーディオンメニュー共通               */
/*───────────────────────────────────────────────────*/
/* メインロゴとアコーディオンメニューのトリガー */
/* 親: header-flex */
.accordion-wrapper,
.header-flex h1 {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 25px;
    margin: 0;
}

/*───────────────────────────────────────────────────*/
/* ◆アコーディオンメニュー                            */
/*───────────────────────────────────────────────────*/
/* 名前/V/icon画像を包括する親 */
.accordion-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:  10px;
}

/* 上記のフレックスアイテム */
/* 親: accordion-trigger */
.trigger-item {
    padding-left: 10px;
    padding-right: 10px;
}

/* アコーディオンメニューの設定 */
/* 親: accordion-wrapper */
.accordion-content {
    position: absolute;
    right: 0;
    top: 84px;
    width: 291px;
    display: none;
}

/* アコーディオンメニューの各項目の設定 */
.accordion-content li a,
.accordion-content li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #808080;

    font-size: 24px;
    width: 100%;
    height: 86px;

    border-top: 2px solid #04235c;
    border-left: 2px solid #04235c;
    border-right: 2px solid #04235c;
}

/* アコーディオンメニュー開閉記号のライン */
.trigger-line {
    display: inline-block;
    position: relative;
    top: 7px;
    width: 2px;
    height: 16px;
    background: white;
    transition: transform 0.4s ease, left 0.4s ease, right 0.4s ease;
}

/* 開閉記号の左ライン */
.trigger-left {
    position: relative;
    left: 2px;
    transform-origin: bottom;
    transform: rotate(-24deg);
}

/* 開閉記号の右ライン */
.trigger-right {
    position: relative;
    right: 3px;
    transform-origin: bottom;
    transform: rotate(24deg);
}

/* activeの際のライン逆転 */
.trigger-left.active {
    left: -4px;
    transform: rotate(24deg);
}

.trigger-right.active {
    right: -4px;
    transform: rotate(-24deg);
}

/*───────────────────────────────────────────────────*/
/* ◆サイドバー/情報確認エリア                         */
/*───────────────────────────────────────────────────*/
/* 情報確認エリアの設定 */
#confirm {
    border-bottom: 1px solid #808080;
    padding: 20px;
}

/* 情報確認エリア内のテキスト設定(青ボタンのp以外) */
#confirm p:not(.custom-blue-button) {
    color: #3B3737;
    font-size: 16px;
    margin-bottom: 14px;
}

/* フォロー数/フォロワー数と数値のフレックス */
.follows-info {
    display: flex;
    justify-content: flex-start;
}

/* 上記のフレックスアイテム */
.follows-info p {
    width: 107px;
}

/*───────────────────────────────────────────────────*/
/* ◆サイドバーの青ボタン                              */
/*───────────────────────────────────────────────────*/

/* 青ボタンの枠 */
.custom-blue-button {
    background-color: #0656cf;
}

/* 青ボタン内のテキスト */
.custom-blue-button a {
    display: block;
    color: #fff;

    font-size: 14px;
}

/* フォロー/フォロワーリストのボタン */
.follows-btn {
    width: 128px;
    padding: 5px 0;
    margin-left: 120px;
    margin-top: 2px;
    margin-bottom: 22px;
}

/* ユーザ検索ボタン */
.search-btn {
    width: 155px;
    padding: 6px 0;
    margin: 23px 66px;
}

/*───────────────────────────────────────────────────*/
/* ◆メインエリア共通                                  */
/*───────────────────────────────────────────────────*/
/* メインエリア上部のレイアウト */
.main-area {
    height: 156px;
    border-bottom: 7px solid #e0e0e0;
}

/*───────────────────────────────────────────────────*/
/* ◆投稿ページのメインエリア                          */
/*───────────────────────────────────────────────────*/
/* 投稿記入エリア */
.post-main {
    display: flex;
    padding-top: 29px;
    padding-bottom: 24px;
    padding-left: 78px;
}

/* 投稿記入エリアの各要素(上記のフレックスアイテム) */
.post-main-content {
    margin-right: 6px;
}

/* 投稿記入エリアのテキストエリア */
.post-main textarea {
    border: none;
    resize: none;
    padding: 10px 10px;
    font-size: 17px;
    width: 734px;
}

/* 投稿ボタン */
.post-main button {
    display: block;
    color: white;
    align-self: flex-end;
    font-size: 24px;
    width: 42px;
    height: 42px;
    padding: 0;
}

/* 投稿リストのポスト全体 */
.post-content {
    display: flex;
    color: black;
    flex-wrap: wrap;
    border-bottom: 1px solid #9b9b9b;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 119px;
    padding-right: 27px;
    width: 100%;
}

/* ポストの名前とテキストエリア */
.post-text-content {
    margin-left: 14px;
}

/* ポストの名前表示 */
.post-name {
    font-size: 15px;
    line-height: 18px;
}

/* ポストのテキストエリア */
.post-text {
    font-size: 13px;
    width: 700px;
}

/* ポストの投稿日時 */
.post-date {
    margin-left: auto;
    font-size: 13px;
}

/* 自分自身のポストであった際の要素を包括する要素 */
.post-myself-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* 画像共通指定 */
.post-myself-item, .modal-edit-execution {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

/* 編集ボタン */
.post-edit { background-image: url('/images/edit.png'); }
.post-edit:hover { background-image: url('/images/edit_h.png'); }

/* 削除ボタン */
.post-trash { background-image: url('/images/trash.png'); }
.post-trash:hover { background-image: url('/images/trash_h.png'); }

/*───────────────────────────────────────────────────*/
/* ◆投稿ページの編集モーダル                          */
/*───────────────────────────────────────────────────*/
/* モーダルのボディ要素 */
.modal-post-body {
    padding: 30px 38px;
}

/* モーダルのテキストエリア */
.modal-post-body textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: 2px solid #c9c9c9;
    padding: 10px 13px;
    color: black;
}

/* 完了ボタンフォーム */
.modal-edit-execution {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
}

/*───────────────────────────────────────────────────*/
/* ◆削除確認ページの編集モーダル                       */
/*───────────────────────────────────────────────────*/
/* 削除モーダルのボディ要素 */
#modal-trash-body {
    padding: 18px;
    font-size: 15px;
    color: black;
}

/* 削除モーダルのテキスト */
#modal-trash-body p {
    margin-bottom: 20px;
}

/* 削除モーダルのフォーム */
#modal-trash-form {
    width: 100%;
}

/* 削除モーダルのボタンを内包した要素 */
.trash-buttons {
    text-align: right;
}

/* 削除モーダルのOKボタン */
.trash-yes {
    background-color: #0656cf;
    color: white;
}

/* 削除モーダルのキャンセルボタン */
.trash-cancel {
    border: 2px solid #696969;
}


/*───────────────────────────────────────────────────*/
/* ◆フォロー/フォロワーリストのメインエリア共通         */
/*───────────────────────────────────────────────────*/
/* フォロー/フォロワーリスト画面上部のエリア */
.follows-main {
    display: flex;
}

/* Follow List/Follower Listの親要素(テキストの長さでアイコンとの位置が変動しないようにする処置) */
.follows-text {
    width: 258px;
}

/* Follow List/Followers Listテキスト */
.follows-text h3 {
    color: black;
    margin-top: 27px;
    margin-left: 81px;
}

/* フォロー/フォロワーリスト */
.follows-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    margin-top: 17px;
    gap: 7px;
    max-width: 550px;
}

/*───────────────────────────────────────────────────*/
/* ◆ユーザ検索画面                                   */
/*───────────────────────────────────────────────────*/
/* 検索欄エリア(画面上部) */
.search-main {
    display: flex;
    align-items: center;
}

/* 検索欄 */
.search-main textarea {
    resize: none;
    border: 2px solid #a0a0a0;
    height: 50px;
    width: 300px;
    margin-left: 60px;
    padding-top: 8px;
    padding-left: 17px;
    font-size: 18px;
}

/* 検索欄 */
.search-main textarea {
    resize: none;
    border: 2px solid #a0a0a0;
    height: 50px;
    width: 318px;
    margin-left: 59px;
    padding-top: 7px;
    padding-left: 17px;
    font-size: 19px;
}

/* 検索ボタン */
.search-main button {
    margin-left: 17px;
    color: white;
    font-size: 22px;
}

/* 検索ワード */
.search-word {
    color: #232323;
    font-size: 20px;
    margin-left: 202px;
    margin-bottom: 0;
}

/* アカウントリストエリア */
.account-list {
    max-width: 503px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

/* アカウント1要素 */
.account-element {
    display: flex;
    align-items: center;
    padding: 18px 15px;
}

/* アカウント1要素内のアカウント名 */
.account-element p {
    margin: 0;
    margin-left: 24px;
    font-size: 20px;
    color: black;
}

/*───────────────────────────────────────────────────*/
/* ◆フォロー/フォロー解除ボタン共通                    */
/*───────────────────────────────────────────────────*/

/* 水色ボタン */
.custom-lblue-button {
    background-color: #52acff;
}

/* 赤色ボタン */
.custom-red-button {
    background-color: #ed3833;
}

/* フォロー/フォロー解除ボタンのフォーム */
.follows-form {
    height: 35px;
    width: 130px;
    margin-left: auto;
    margin-right: 13px;
}

/* フォロー/フォロー解除ボタン */
.account-follows-btn {
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    font-size: 14px;
}

/*───────────────────────────────────────────────────*/
/* ◆プロフィール画面                                  */
/*───────────────────────────────────────────────────*/
/* プロフィールエリア */
.profile-main {
    display: flex;
    padding-top: 37px;
    padding-bottom: 27px;
    padding-right: 9px;
    padding-left: 9px;
}

/* プロフィール画面のアイコン */
.profile-main img {
    margin-left: 97px;
}

/* テキスト群を包括するflex要素 */
.text-items {
    margin-left: 18px;
}

/* プロフィール画面に表示される名前とBIOを包括する要素 */
.profile-texts {
    display: flex;
    margin-bottom: 20px;
}

/* プロフィール画面テキストの項目名 */
.text-subtitle {
    width: 166px;
}

/* プロフィール画面テキストの値欄 */
.text-value {
    width: 500px;
}

/* プロフィールテキスト */
.profile-texts p {
    color: black;
    font-size: 18px;
    margin: 0;
}

/* プロフィール画面のフォロー/フォロー解除ボタンの配置 */
.profile-follows {
    margin-right: 0;
    align-self: flex-end;
}

/*───────────────────────────────────────────────────*/
/* ◆プロフィール編集画面                              */
/*───────────────────────────────────────────────────*/
/* プロフィール編集画面 */
.profile-edit-content {
    display: flex;
    width: 717px;
    margin: 0 auto;
    margin-top: 52px;
}

/* プロフィール編集画面 */
.profile-edit-content img {
    margin-left: 27px;
    margin-right: 35px;
    margin-top: 8px;
}

/* プロフィール編集項目を包括する要素 */
.profile-info-content {
    width: 100%;
}

/* プロフィール各入力要素(行別) */
.profile-info-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 26px;
}

/* プロフィール編集エリアのラベルテキスト */
.profile-info-item p {
    color: black;
    align-self: flex-start;
    margin: 0;
    font-size: 21px;
    width: 390px;
}

/* プロフィール編集エリアのテキスト入力欄 */
.profile-info-box {
    resize: none;
    height: 38px;
    width: 100%;
    border: 1px solid #979797;
    background-color: #EFEFEF;
    font-size: 16px;
    padding: 5px 9px;
    color: black;
}

/* アイコン画像の入力ボックス */
.profile-info-box.icon-image {
    height: 94px;
}

/* プロフィール更新ボタン */
.profile-update-btn {
    display: block;
    position: relative;
    background-color: #ed3a50;
    color: white;
    margin: 0 auto;
    padding: 4px 62px;
    font-size: 16px;
    left: -66px;
}
